# Blacklist files/folders in same directory as the .gitignore file
/*
modules/toolkit/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
projects/GDW/
projects/GDW/*

# Whitelist some files
!.gitignore

# Whitelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!modules/
!modules/*
!projects/
!projects/*
!imgs/
!imgs/*
